<!DOCTYPE html>
<html ng-app>

<head>
    <title>Gists</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>

<body>
    <div ng-controller="MyController">
         

        <ul class="example-animate-container">
    <li class="animate-repeat" ng-repeat="gist in gists.data">
      <a href="" ng-click="getdata(gist.id)">{{gist.description}}</a>
    </li>
     
  </ul>
{{raw}}
    </div>
    <script type="text/javascript">
    function MyController($scope,$http) {
        $scope.gists = $http.get("https://api.github.com/users/gabhi/gists");
         //https://gist.githubusercontent.com/gabhi/{{gist.id}}/raw
        $scope.getdata = function(id) {
            var url = "https://gist.githubusercontent.com/gabhi/"+id+"/raw";
            $scope.url = url;
            $scope.raw=$http.get(url);
            //   $scope.raw = $http.get("https://api.github.com/users/gabhi/gists");

        }
    }
    </script>
</body>

</html>
