<!DOCTYPE html>
<html ng-app>

<head>
    <title>Gists</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>

<body>
    <div ng-controller="MyController">
        <input type="search" ng-model="q" placeholder="filter gists..." />


        <ul class="example-animate-container">
            <li class="animate-repeat" ng-repeat="gist in gists.data | filter:q ">
                <a target="_blank" ng-href="{{gist.html_url}}">{{gist.description}}</a>
            </li>

        </ul>


         



    </div>
    <script type="text/javascript">
    function MyController($scope, $http) {
        $scope.gists = $http.get("https://api.github.com/users/gabhi/gists?per_page=200");
        //https://gist.githubusercontent.com/gabhi/{{gist.id}}/raw

    }
    </script>
</body>

</html>
